* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Relaway", sans-serif;
}

.center {
  display: flex;
  max-width: 1100px;
  padding: 0 2%;
  margin: 0 auto;
  flex-wrap: wrap;
}

section.main {
  background-image: url("../images/bg.svg");
  background-position: center;
  background-size: cover;
  min-height: 700px;
  padding: 20px 0 80px 0;
}

.menu {
  display: flex;
  width: 100%;
}

.logo-menu {
  width: 50%;
}

.itens-menu {
  width: 50%;
  text-align: center;
}

.itens-menu a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.itens-menu a:hover {
  border-bottom: 2px solid #ffdd33;
}

.itens-menu a.contato {
  background-color: #0f3fd3;
  padding: 10px 10px;
  border-radius: 10px;
}
.itens-menu a.contato:hover {
  border: 0;
}
.mockup {
  display: block;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 100px;
}
.mockup h1 {
  font-size: 50px;
}
.mockup img {
  max-width: 100%;
}
section.marcas {
  padding: 100px 0;
}
section.marcas img {
  width: 20%;
}

section.text {
  padding: 40px 0;
  background-color: #fbfcfe;
}

section.text > .center > h2 {
  font-size: 64px;
  text-align: center;
  width: 100%;
}

section.text > .center {
  max-width: 1280px;
}

section.text > .center > p {
  font-size: 14px;
  color: #ccc;
  text-align: center;
  width: 100%;
}
.diferenciais {
  display: flex;
  margin-top: 50px;
}

.box-diferenciais {
  box-shadow: 0px 20px 40px #2426721c;
  width: 31%;
  margin-right: 2%;
  padding: 10px 20px;
  border-radius: 10px;
}

.box-diferenciais h3 {
  font-size: 28px;
  color: black;
  margin: 20px 0px;
}

.box-diferenciais p {
  font-size: 13px;
  color: #7e92ac;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .diferenciais {
    flex-wrap: wrap;
  }

  .box-diferenciais {
    width: 100%;
    margin-right: 0;
  }
  section.marcas > .center {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  section.marcas img {
    max-width: 300px;
    width: 100%;
  }
}
